{% extends 'main/base.html'  %}

{% block title %} Saturno | Comprobantes {% endblock title %}

{% block main %}

<section class="page-section" styles="width: 100%;">
    <div class="container container-box py-4 mb-5 px-lg-5 text-white text-center" >
            <h1 class="pb-4">GESTION DE COMPROBANTES</h1>
            <hr>

            <div class="row mx-2 mb-2 custom-card justify-content-around" >
                <a class="btn btn-outline-green col-8 m-2 my-4" href="{% url 'Sales' %}">Ventas</a>
                <a class="btn btn-outline-green col-8 m-2 my-4" href="{% url 'Purchases' %}">Compras</a>    
                <a class="btn btn-outline-green col-8 m-2 my-4" href="{% url 'Payments' %}">Pagos</a>
            </div>

            <a class="btn btn-outline-orange col-10 my-3 mt-4" href="{% url 'index' %}">Volver</a>
        </div>
</section>

{% endblock main %}