{% extends 'main/base.html'  %}

{% block title %} Saturno | Comprobantes {% endblock title %}

{% block main %}

    <div class="page-section">
        <div class="container text-white text-center justify-content-center">
            <h1 class="pb-4">GESTION DE COMPROBANTES</h1>
            <br>
            <hr>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Gestionar Ventas
                    </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <a class="btn btn-dark" href="{% url 'CreateSale' %}">Nueva</a>
                            <a class="btn btn-dark" href="{% url 'Sales' %}">Listar Ventas</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Gestionar Compras
                    </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <a class="btn btn-dark" href="{% url 'CreatePurchase' %}">Nueva</a>
                            <a class="btn btn-dark" href="{% url 'Purchases' %}">Listar Compras</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Gestionar Pagos
                    </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <a class="btn btn-dark" href="{% url 'CreatePayment' %}">Nuevo</a>
                            <a class="btn btn-dark" href="{% url 'Payments' %}">Listar Pagos</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-dark" href="{% url 'index' %}">Volver</a>
        </div>
    </div>

{% endblock main %}