{% extends 'main/base.html'  %}

{% block title %} Saturno | Cuentas {% endblock title %}

{% block main %}

<section class="page-section">
    <div class="container container-box py-4 px-lg-5 text-white text-center">
        <h1>CUENTAS</h1>
        <hr>
        <div class="row gx-4 gx-lg-5 m-1 custom-card justify-content-around">
            <a class="btn btn-outline-green col-10 col-md-5 me-lg-2 m-2" href="{% url 'Clients' %}">Clientes</a>                
            <a class="btn btn-outline-green col-10 col-md-5 ms-lg-2 m-2" href="{% url 'Suppliers' %}">Proveedores</a>
        </div>

        <a class="btn btn-outline-orange col-10 mt-4" href="{% url 'index' %}">Volver</a>
    </div>
</section>



{% endblock main %}