{% extends 'main/base.html'  %}

{% block title %} Saturno | {{ form_type }} {% endblock title %}

{% block main %}

<section class="page-section" styles="width:100%; padding-bottom: 5rem;">
    <div class="container container-list py-4 pb-4 mb-5 px-lg-5 text-white text-center" styles="width: 100%;">
        <h1>LISTADO DE {{ form_type|upper }}</h1>
        <hr>

        <div class="row gx-4 gx-lg-5 mx-2 custom-card justify-content-around">
            <!--BUSCADOR-->
            <div class="col-12 col-md-12 col-lg-10 col-xl-4 align-top my-4">
                <div class="info-card">
                    <form class="form-search my-4" method="GET" action="{{ request.path }}">
                        <input type="text" name="search_query" placeholder="Buscar...">
                        <a id="search-button">
                            <button class="btn" type="submit">
                                <i class="bi bi-search-heart"></i>
                            </button>
                        </a>
                    </form>
                </div>
            </div>
            <!--LISTADO-->
            <div class="col-12 col-md-12 col-lg-10 col-xl-8 my-4">
                <table class="info-card justify-content-center">
                    {% if form_type == 'Clientes' %}
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Cuit</th>
                                <th class="d-none d-sm-none d-md-table-cell">Teléfono</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                            <tr>
                                <td>{{ client.first_name }}</td>
                                <td>{{ client.last_name }}</td>
                                <td>{{ client.cuit }}</td>
                                <td class="d-none d-sm-none d-md-table-cell">{{ client.phone }}</td>
                                {% if request.user.is_superuser %}
                                <td>
                                    <a href="{% url 'DetailClient' client.pk %}">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    {% elif form_type == 'Proveedores' %}
                        <thead>
                            <tr>
                                <th>Empresa</th>
                                <th>Cuit</th>
                                <th>Teléfono</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for supplier in suppliers %}
                            <tr>
                                <td>{{ supplier.company }}</td>
                                <td>{{ supplier.cuit }}</td>
                                <td>{{ supplier.phone }}</td>
                                {% if request.user.is_superuser %}
                                <td>
                                    <a href="{% url 'DetailSupplier' supplier.pk %}">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
                <!--PAGINACION-->
                <div class="step-links mt-3">
                    {% if is_paginated %}
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo;</a>
                            <a href="?page={{ page_obj.previous_page_number }}"> &lt; </a>
                        {% endif %}

                        <span class="current">
                            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"> &gt; </a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-around mt-4">
            {% if request.user.is_superuser and form_type == 'Clientes' %}
                <a class="btn btn-outline-green col-10 col-md-5 my-3 mx-2" href="{% url 'CreateClient' %}">Nuevo Cliente</a>
            {% elif request.user.is_superuser and form_type == 'Proveedores' %}
                <a class="btn btn-outline-green col-10 col-md-5 my-3 mx-2" href="{% url 'CreateSupplier' %}">Nuevo Proveedor</a>
            {% endif %}
            <a class="btn btn-outline-orange col-10 col-md-5 my-3 mx-2" href="{% url 'Accounts' %}">Volver</a>
    </div>
</section>


{% endblock main %}