{% extends 'main/base.html'  %}

{% block title %} Saturno | Editar Cliente {% endblock title %}

{% block main %}

<section class="page-section">
    <div class="container container-box py-4 mb-5 px-lg-5 text-white text-center">
        <h1 class="pb-4">EDITAR CLIENTE</h1>
        <hr>

        <div class="row gx-4 gx-lg-5 mx-2 mb-2">
            <form class="col-12 custom-card" action="" method="POST">
            {% csrf_token %}
                <div class="info-card my-3">
                {% for field in form %}
                    <div class="row gx-4 gx-lg-5 my-4 justify-content-center">
                        <div class="col-12 col-md-5">
                            {{ field.label_tag }}
                        </div>

                        <!--Mensajes error-->
                        <div class="col-10 col-md-6 align-items-center me-1">
                            {{ field }}
                            {% if field.errors %}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    <div>{{ error }}</div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </div>

                <div class="col-12 text-center">
                    <input type="submit" class="btn btn-outline-green col-8 mt-4" value="Actualizar">
                </div>
                <br>
            </form>
        </div>
        <a href="{% url 'Clients' %}" class="btn btn-outline-orange col-10 my-3 mt-4">Cancelar</a>
    </div>
</section>    

{% endblock %}
