{% extends 'main/base.html' %}

{% block title %} Saturno | Clientes {% endblock title %}

{% block main %}
<section class="page-section">
    <div class="container text-white text-center">
        <h1 class="pb-4">LISTADO CLIENTES</h1>
        <hr>
        <br>
        {% for client in clients %}
            <p>Cliente: {{client.first_name}} {{client.last_name}}</p>
            <p>Cuit: {{client.cuit}}</p>
            <p>Teléfono: {{client.phone}}
            <br>
            <p class="botones">
                <a class="btn btn-dark" href="{% url 'DetailClient' client.pk %}">Detalle</a>
                {% if request.user.is_superuser %}
                    <a class="btn btn-dark" href="{% url 'UpdateClient' client.pk %}">Editar</a>
                    <a class="btn btn-dark" href="{% url 'DeleteClient' client.pk %}">Eliminar</a>
                {% endif %}
            </p>
            <hr>
            
        {% endfor %}
        
        {% if request.user.is_superuser %}
            <a class="btn btn-dark" href="{% url 'CreateClient' %}">Nuevo Cliente</a>
        {% endif %}
        <a class="btn btn-dark" href="{% url 'Accounts' %}">Volver</a>
    </div>
</section>    

{% endblock %}



