{% extends 'main/base.html'  %}

{% block title %} Saturno | Eliminar Cliente {% endblock title %}

{% block main %}

<section class="page-section">
    <div class="container container-box py-4 px-lg-5 text-white text-center">
        <h1>ELIMINAR CLIENTE</h1>
        <hr>
        <form action="" method="POST" class="custom-card">
            {% csrf_token %}
            <h2>¿Seguro deseas eliminar a {{client.first_name}} {{client.last_name}}?</h2>
            
            <input type="submit" class="btn btn-outline-green col-8 mt-3" value="Confirmar">
        </form>
        <a href="{% url 'Clients' %}" class="btn btn-outline-orange col-10 my-3">Cancelar</a>
    </div>
</section>    

{% endblock %}
