{% extends 'main/base.html' %}

{% block title %} Saturno | Ficha Cliente {% endblock title %}

{% block main %}

<section class="page-section">
    <div class="container text-white text-center justify-content-center">
        <h1 class="pb-4">FICHA CLIENTE</h1>
        <br>
        <hr>
        <div class="pb-4">
            <h2>{{client.first_name}} {{client.last_name}}</h2>
            <h5>Cuit: {{client.cuit}}</h5>
            <h5>Teléfono: {{client.phone}}</h5>
        </div>
        {% if request.user.is_superuser %}
            <div>
                <a class="btn btn-dark" href="{% url 'UpdateClient' client.pk %}">Editar</a>
                <a class="btn btn-dark" href="{% url 'DeleteClient' client.pk %}">Eliminar</a>
            </div>
        {% endif %}
        <a class="btn btn-dark mt-5" href="{% url 'Clients' %}">Volver</a>
    </div>
    
</section>    

{% endblock %}
