{% extends 'main/base.html'  %}

{% block title %} Saturno | Proveedores {% endblock title %}

{% block main %}

<section class="page-section">
    <div class="container text-white text-center">
        <h1 class="pb-4">LISTADO PROVEEDORES</h1>
        <hr>
        <br>
        {% for supplier in suppliers %}
            <p>Empresa: {{supplier.company}}</p>
            <p>Teléfono: {{supplier.phone}}</p>
            <p>Cuit: {{supplier.cuit}}</p>
            <br>
            <p>
                <a class="btn btn-dark" href="{% url 'DetailSupplier' supplier.pk %}">Detalle</a>
                {% if request.user.is_superuser %}
                    <a class="btn btn-dark" href="{% url 'UpdateSupplier' supplier.pk %}">Editar</a>
                    <a class="btn btn-dark" href="{% url 'DeleteSupplier' supplier.pk %}">Eliminar</a>
                {% endif %}
            </p>
            <hr>
        {% endfor %}

        {% if request.user.is_superuser %}
            <a class="btn btn-dark" href="{% url 'CreateSupplier' %}">Nuevo Proveedor</a>
        {% endif %}
        <a class="btn btn-dark" href="{% url 'Accounts' %}">Volver</a>
    </div>
</section>    

{% endblock %}
