{% extends 'main/base.html'  %}

{% block title %} Saturno | Ficha Proveedor {% endblock title %}

{% block main %}

<section class="page-section">
    <div class="container text-white text-center justify-content-center">
        <h1 class="pb-4">FICHA PROVEEDOR</h1>
        <br>
        <hr>
        <div class="pb-4">
            <h2>{{supplier.company}}</h2>
            <h5>Cuit: {{supplier.cuit}}</h5>
            <h5>Teléfono: {{supplier.phone}}</h5>
        </div>
        {% if request.user.is_superuser %}
            <div>
                <a class="btn btn-dark" href="{% url 'UpdateSupplier' supplier.pk %}">Editar</a>
                <a class="btn btn-dark" href="{% url 'DeleteSupplier' supplier.pk %}">Eliminar</a>
            </div>
        {% endif %}
        <a class="btn btn-dark mt-5" href="{% url 'Suppliers' %}">Volver</a>
    </div>
</section>    

{% endblock %}
