{% extends 'main/base.html'  %}

{% block title %} Saturno | Nuevo Proveedor {% endblock title %}

{% block main %}

<section class="page-section">
    <div class="container text-white text-center justify-content-center">
        <h1 class="pb-4">NUEVO PROVEEDOR</h1>
        <br>
        <hr>
        <form class="formulario" action="" method="POST">
            {% csrf_token %}
            <table class="m-auto">
                {{form.as_table}}
            </table>
            <input type="submit" class="btn btn-dark" value="Guardar">
            <a href="{% url 'Suppliers' %}" class="btn btn-dark">Cancelar</a>
        </form>
    </div>
</section>    

{% endblock %}
