{% extends "main/base.html" %}
{% load static %}

{% block title %} Saturno | Home {% endblock%}

{% block main %}
<section class="page-section" id="team">
    <div class="container py-4 px-4 px-lg-5 text-center text-white">
        <div class="row gx-4 gx-lg justify-content-center">
            <div class="col-lg-8 col-xl-6 pb-5">
                <h2>About Saturno</h2>
                <hr class="divider">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, saepe architecto. Neque quam ea,
                    veniam ratione quisquam animi enim vero dolorem asperiores, quasi sit cum libero accusantium nam
                    atque fugiat!
                </p>
            </div>
        </div>

        <div class="row gx-4 gx-lg justify-content-center">
            <div class="col-12 col-md-6 col-lg-3 pt-2">
                <div class="mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3 h-50 w-50" src="{% static 'main/assets/img/dev.jpg' %}" alt="avatar de yas'z escobar tomé">
                    <h5>Yas'z Escobar Tomé</h5>
                    <p class="">Developer & Ilustrator</p>
                    <div class="container-buttons">
                        <a class="btn btn-dark btn-social mx-2" href="https://github.com/yaszcdp"
                            aria-label="Yas'z Escobar Tomé Github Profile" target="_blank">
                            <i class="bi bi-github"></i>
                        </a>
                        <a class="btn btn-dark btn-social mx-2"
                            href="https://www.linkedin.com/in/yas-z-escobar-tomé-452908127/"
                            aria-label="Yas'z Escobar Tomé LinkedIn Profile" target="_blank">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}