{% extends "main/base.html" %}
{% load static %}

{% block title %} Saturno | Home {% endblock%}

{% block main %}
<section class="page-section" id='team'>
    <div class="container container-box py-4 px-lg-5 text-white text-center about">
        <h1>SOBRE SATURNO</h1>
        <hr>
        <div class="row gx-4 gx-lg justify-content-center custom-card">
            <div class="col-12 pb-4 ">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, saepe architecto. Neque quam ea,
                    veniam ratione quisquam animi enim vero dolorem asperiores, quasi sit cum libero accusantium nam
                    atque fugiat!
                </p>
            </div>

            <div class="col-12">
                <img class="rounded-circle mb-3" src="{% static 'main/assets/img/dev.jpg' %}" alt="avatar de yas'z escobar tomé">
                <h2 class="mt-2">Yas'z Escobar Tomé</h2>
                <p>DEVELOPER</p>
                <div class="mt-4">
                    <a class="btn btn-dark btn-social me-3 p-2 px-3" href="https://github.com/yaszcdp"
                        aria-label="Yas'z Escobar Tomé Github Profile" target="_blank">
                        <i class="bi bi-github"></i>
                    </a>
                    <a class="btn btn-dark btn-social p-2 ms-3 px-3"
                        href="https://www.linkedin.com/in/yas-z-escobar-tomé-452908127/"
                        aria-label="Yas'z Escobar Tomé LinkedIn Profile" target="_blank">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}