{% load static %}

{% block messages %}

    {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success text-center mb-3">
                        {{ message }}
                    </div>
                {% elif message.tags == 'error' or message.tags == 'danger' %}
                    <div class="alert alert-danger text-center mb-3">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger text-center mb-3">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock messages %}