{% load static %}

{% block messages %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <div class="alert alert-success">
                    <!--{{ message }}-->
                    <script>
                        alert("{{ message|escapejs }}");
                        window.location.href = "{{ redirect_url|default:''}}";
                    </script>
                </div>
            {% else %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endif %}
        {% endfor %}
    {% endif %}


{% endblock messages %}