{% extends 'main/base.html'  %}

{% block title %} Saturno | Nuevo Producto {% endblock title %}

{% block main %}

<section class="page-section">
    <div class="container container-box py-4 px-lg-5 text-white text-center">
        <h1>NUEVO PRODUCTO</h1>
        <hr>
        <form class="form-group custom-card" action="" method="POST">
            {% csrf_token %}
            <div class="box py-2">
            {% for field in form %}
                <div class="row gx-4 gx-lg-5 my-4 justify-content-center">
                    <div class="col-12 col-md-5">{{ field.label_tag }}</div>
                    <div class="col-10 col-md-6 align-items-center me-1">
                        {{ field }}
                        {% if field.errors %}
                            <div class="invalid-feedback">
                            {% for error in field.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>

            <div class="col-12 mt-4">
                <input type="submit" class="btn btn-outline-green col-8" value="Guardar">
            </div>
        </form>
        <a href="{% url 'Products' %}" class="btn btn-outline-orange col-10 my-3">Cancelar</a>
    </div>
</section>    

{% endblock %}
