{% extends 'main/base.html' %}

{% block title %} Saturno | Productos {% endblock title %}

{% block main %}
<section class="page-section">
    <div class="container container-list py-4 px-lg-5 text-white text-center">
        <h1>LISTADO PRODUCTOS</h1>
        <hr>
        <div class="row gx-4 gx-lg-5 mx-2 custom-card justify-content-around">
            <div class="col-12 col-lg-5 align-top mt-4">
                <div class="row info-card ">
                    {% block search %}
                        {% include 'main/search.html' with page='Products' %}
                    {% endblock search %}

                    {% if request.user.is_superuser %}
                        <a class="btn btn-outline-green" href="{% url 'CreateProduct' %}">Nuevo Producto</a>
                    {% endif %}
                </div>
            </div>

            <div class="col-12 col-lg-7 mt-4">
                <table class="info-card justify-content-center">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>${{ product.price }}</td>
                            {% if request.user.is_superuser %}
                            <td>
                                <a href="{% url 'DetailProduct' product.pk %}">
                                    <i class="bi bi-pen"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'DeleteProduct' product.pk %}">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <a class="btn btn-outline-orange col-8 mt-4" href="{% url 'index' %}">Volver</a>
    </div>
</section>    

{% endblock %}
