{% extends 'main/base.html' %}

{% block title %} Saturno | Ficha Producto {% endblock title %}

{% block main %}

<section class="page-section">
    <div class="container container-box py-4 px-lg-5 text-white text-center">
        <h1>FICHA PRODUCTO</h1>
        <hr>
        <div class="row gx-4 gx-lg mx-2 custom-card">
            <div class="col-12 pt-4 pe-4 mt-sm-3 mt-md-0 info-card">
                <h2 class="col-12">{{ product.name }}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'UpdateProduct' product.pk %}"><i class="bi bi-pen"></i></a> 
                    {% endif %}
                </h2>
                <p>Precio: {{ product.price }}</p>
            </div>
        </div>
        <a class="btn btn-outline-green col-10 my-3" href="{% url 'Products' %}">Volver</a>
    </div>
</section>   

{% endblock %}
