@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Cutive+Mono&family=Zen+Kaku+Gothic+New&display=swap');

@import "~bootstrap/scss/bootstrap";
/*--------------[ ESTILOS GENERALES ]-------------*/


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    background-color: #4d4d4d;
}

header {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
}

/*--------------[ NAVBAR ]-------------*/
.navbar {
    background-color: #000000a1;
    
}

.navbar-toggler{
    color: white;
}

.navbar-brand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

.navbar-brand img{
    margin-top: .5rem;
    margin-bottom: .5rem;
    height: 3rem;
    margin: 1rem;
}

.nav-item{
    padding: 0 2rem;
}

.nav-link{
    font-size: 1.6rem;
    font-family: "Zen Kaku Gothic New", sans-serif;
    color: #c2c2c2e6;

    &:hover{
        color: white;
    }

    &:focus{
        color: #c2c2c2e6;
    }

    &.show{
        color: white !important;
    }
}

.nav-link img{    
    box-shadow: 0px 8px 16px 0px #000000a1 !important;

    &:hover{
        filter: brightness(1.1);
    }

    &:active{
        filter: brightness(0.8);
    }
}

.avatar-circle{
    border-radius: 4rem;
}

.full-dropdown{
    display: none;
    height: auto;
    background-color: #0000001a !important;
    box-shadow: 0px 8px 16px 0px #000000a1;
    border-radius: 0;
    border: .1rem solid black;
    overflow-y: auto;
}

.dropdown-menu.show{
    margin-top: .6rem;
    display: block;
}


@media (max-width: 990px) {
    .dropdown-menu {
        width: 100%;
        position: static;
    }

    .dropdown-item{
        text-align: start;
    }
} 

.dropdown-item{
    color: #c2c2c2;
    font-size: 1.5rem;

    &:hover{
        color: #ffffff;
        background: #000000a1;
    }
}



/*--------------[ FOOTER ]-------------*/

.footer{
    height: 10rem;
    font-size: 1.4rem;
    align-items: center;
}

.footer p{
    padding-top: 3rem;
    color: white;
}


/*--------------[ HERO ]-------------*/

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, #0000004d 0%, #000000b3 75%, #000 100%), url('../assets/img/bg-masthead.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.masthead hr{
    border-bottom: .1rem solid #ffffffaf;
    opacity: 100%;
}

.masthead img{
    width: 60%;
}

.masthead .container-buttons{
    background: #00000027;
    box-shadow: 0 0.2rem 0.2rem 0 #0000001a;
    margin-top: 10rem;
    border: .1rem solid #ffffffaf;
    padding: 2rem;
}

.masthead h1,
.masthead .h1 {
    font-family: "Cutive Mono", monospace;
    letter-spacing: 0.2rem;
    color: white;
}

.masthead h2,
.masthead .h2 {
    font-family: "Cutive Mono", monospace;
    letter-spacing: 0.4rem;
    font-size: 1.9rem;
    font-weight: 400;
    color: #ffffffde;
    /* background: linear-gradient(#ffffffe6, #88888863);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text; */
}

@media (max-width: 768px) {
    .masthead h1,
    .masthead .h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .masthead h2,
    .masthead .h2 {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }

    .masthead h1,
    .masthead .h1 {
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 0.6rem;
    }

    .masthead h2,
    .masthead .h2 {
        font-size: 1.9rem;
        line-height: 1.8rem;
        font-weight: 300;
    }
}

/*--------------[ BOTONES ]-------------*/

.btn-dark {
    box-shadow: 0 0.1875rem 0.1875rem 0 #0000001a !important;
    padding: .5rem 1rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
    
    &:hover{
        background: #14ae2e;
    }
}


.btn-outline-light {
    font-size: 1.6rem;
    font-family: "Zen Kaku Gothic New", sans-serif;
    letter-spacing: 0.2rem;
    padding: 1rem;
    border: .1rem solid white;

    &:hover {
        color: #ffa755;
        border-color:#ffa755; /* #da7a21; */
        background: #00000048;
        box-shadow: 0 0.2rem 0.2rem 0 #0000001a;
    }

    &:focus {
        outline: none; 
        border: .1rem solid #ffa755;
        color: #ffa755;
        background: #00000048;
        box-shadow: 0 0.2rem 0.2rem 0 #0000001a; 
    }
    
    &:active {
        color: #ffa755 !important;
        border-color:#ffa755 !important; /* #da7a21; */
        background: #0000008e !important;
        box-shadow: 0 0.2rem 0.2rem 0 #0000001a !important;
    }
}



a i{
    font-size: 2.5rem;
    color: white;
}

a i:hover{
    color: #da7a21;
}

.bi.bi-github, .bi.bi-linkedin{
    font-size: 4rem;
}

.bi.bi-github, .bi.bi-linkedin:hover{
    color:white;
}



/*--------------[ FORMS, INPUT ]-------------*/

form.form-search{
    width: 100%;
    text-align: center;
}

form.form-search input{
    width: 80%;
    background-color: #00000000;
    color: white;
    font-size: 1.6rem;
    border: none;
    border-bottom: .1rem solid white;
}

.form-search input:hover{
    border-bottom: .2rem solid #da7a21;
}

.form-search input:focus {
    outline: none;
    border-bottom: .2rem solid #da7a21;
}



/*--------------[ PAGES ]-------------*/

.page{
    min-height: 90vh;
}

.page-section{
    width: 100%;
    padding-top: 8rem;
    background: linear-gradient(to bottom, #0000004d 0%, #000000b3 60%, #000 100%);
    min-height: 90vh;
}

.page-section h1{
    margin-bottom: 2rem;
}

.page-section .container{
    background-color: #1b1b1bc7;
    box-shadow: 0 0.2rem 0.2rem 0 #0000001a !important;
}

.content{
    display: flex; 
    width: 100%;
    justify-content: space-between;
}



/*--------------[ CONTAINER ]-------------*/
/* .container h2{
    font-size: 2.4rem;
    padding-bottom: 1rem;
} */
.container p{
    font-size: 1.4rem;
}

.container-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-panel{
    background: linear-gradient(to bottom, #0000004d 0%, #000000b3 60%, #000 100%);
    padding: 2rem;
}

.container-table{
    padding: 0;
} 

/* ------------------------[ TABLAS ]------------------------*/

table{
    background: linear-gradient(to bottom, #0000004d 0%, #000000b3 60%, #000 100%); 
    border-collapse: collapse;
    width: 100%;
}

table th, table td{
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    border-bottom: .1rem solid white;
    padding: 1rem;
    vertical-align: middle;
}

table th{
    font-size: 1.5rem;
}

@media (max-width: 460px) {
    table th{
        font-size: .9rem;
    }
    table td {
        font-size: 1.2rem;
    }
}



table td a{
    color: #ffe6d6;
    text-decoration: none;
    margin-right: 1rem;
    display: inline-block;
}

table td a:hover{
    cursor: pointer;
}

table td p{
    font-size: 1.6rem;
}



/*
.page-section-about .container{
    margin-top: 2rem;
    padding-bottom: 4rem;
}

.team-members{
    padding-top: 5rem;
    padding-bottom: 10.7rem;
}

.botones i{
    font-size: 2.5rem;
    padding: .5rem;
}

.botones .btn{
    padding: 1rem;
}

*/
/*--------------[ CONTACT ]-------------*/
/*
.page-section-contact{
    padding-top: 8rem;
    background: linear-gradient(to bottom, #0000004d 0%, #000000b3 60%, #000 100%);
    min-height: 90vh;
}

.page-section-contact .container{
    margin-top: 2rem;
    padding-bottom: 4rem;
}

.page-section-contact .container h2{
    font-size: 2.4rem;
    padding-bottom: 1rem;
}
    */

/*--------------[ PRODUCTS ]-------------*/
/*
.list-group-item{
    background-color: #1b1b1bc7;
    color: white;
    font-size: 1.4rem;
    border: none;
}

.list-group-item:hover{
    background-color: #ae146b;
}

.list-group-item:active{
    background-color: #ae146b;
}

.page-section-store{
    min-height: 90vh;
    padding-top: 8rem;
    background: linear-gradient(to bottom, #0000004d 0%, #000000b3 60%, #000 100%);
}

.card-item{
    padding: 2rem;
    background-color: #2e2e2ec7;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #0000001a !important;
    color: white;
}

.card-item a{
    text-decoration: none;
    color: #c2c2c2e6;
    font-size: 1.6rem;
}

.card-item a:hover{
    color: white;
}

.producto-imagen-pequena {
    width: 150px;
    height: 150px;
}
*/

/*--------------[ ITEM ]-------------*/
/*
.page-section-item{
    padding-top: 15rem;
    background: linear-gradient(to bottom, #0000004d 0%, #000000b3 60%, #000 100%);
    min-height: 90vh;
}

.page-section-item .container{
    background: linear-gradient(to top, #0000004d 0%, #000000b3 60%, #000 100%);
    width: 80%;
}


.producto-imagen-mediana{
    width: 60%;
}
*/


